<div class="container text-center">
    <h2 class="pt-3 pb-3">HTML Table</h2>


    <ul>
        <li *ngFor="let item of filteredTIT">{{ item | json }}</li>
        </ul>
    <table class="mb-5">

        <ng-container *ngFor="let item of filteredTIT">

            <tr>
                <th>RISK</th>
                <td>{{ item.AANBOD.RISK }}</td>
            </tr>

            <tr>
                <th>SVM</th>
                <td>{{ item.ADVTITRE.BASIQUETITRE.SVM }}</td>
            </tr>
            <tr>
                <th>LABEL</th>
                <td>{{ item.ADVTITRE.BASIQUETITRE.LABEL }}</td>
            </tr>

            
            
            <tr>
                <th>
                    Droit d'entrée et de sortie
                </th>
                <td>
                    <ul>
                        <li>{{ item.PLN[0].CODE }} - Tarif Client 1 : {{ item.PLN[0].PLAN }} - (Droits d'entréee {{ item.PLN[0].PLAGE[0].FRAIS_ETRANGERS }} droit de sortie {{ item.PLN[2].PLAGE[0].MIN_FRAIS_ETR }})</li>
                        <li>{{ item.PLN[2].CODE }} - Tarif Client 3 :{{ item.PLN[2].PLAN }} - (Droits d'entréee {{ item.PLN[2].PLAGE[0].FRAIS_ETRANGERS }} droit de sortie {{ item.PLN[2].PLAGE[0].MIN_FRAIS_ETR }})</li>
                    </ul>
                </td>
              
                   
                
            </tr>
           
                
           
            
            
           
        
          </ng-container>
       
    </table>
</div>