<div class="container text-center">
    <h2 class="pt-3 pb-3">HTML Table</h2>


    <ul>
        <li *ngFor="let item of filteredTIT">{{ item | json }}</li>
    </ul>
    
    <table class="mb-5">
        <tr>
            <th>Nom</th>
            <th>Tarif Client 1</th>
            <th>Tarif Client 3</th>
            <th>SVM</th>
            <th>ISIN</th>
            <th>ACTION</th>
        </tr>

        <tr *ngFor="let item of filteredTIT">

            <td class="text-start">
                <a class="like-anchor">{{ item.ADVTITRE.BASIQUETITRE.LABEL }}</a>
            </td>
            
            <td> {{ item.PLN[0].PLAGE[0].FRAIS_ETRANGERS }}%-{{ item.PLN[2].PLAGE[0].MIN_FRAIS_ETR }}%</td>
            <td> {{ item.PLN[2].PLAGE[0].FRAIS_ETRANGERS }}%-{{ item.PLN[2].PLAGE[0].MIN_FRAIS_ETR }}%</td>
            
            <td class="text-center"> {{ item.ADVTITRE.BASIQUETITRE.SVM }}</td>
            <td class="text-center"> {{ item.ADVTITRE.BASIQUETITRE.ISIN }}</td>
            <td class="text-center">
            <select class="form-select green-background" (change)="onActionChange($event, item.ADVTITRE.BASIQUETITRE.SVM)">
            <option selected disabled value="">Choisissez une action</option>
            <option value="edit">Modifier</option>
            <!-- <option value="delete">Annuler</option> -->
            </select>
            </td>
            </tr>

    </table>

